body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
}

.box1 {
    background-color: #1F2937;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
    font-weight: 900;
    font-size: 30px;
}



.box2 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 50px;
   
}

.text1 {
    width: 500px;
    padding: 20px;
}

.img1, .img2, .img3, .img4 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 15px;
    text-align: center;
}

.imgplace {
    padding: 100px;
    margin: 25px;
    background-color: grey;
}

.awesome {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sign1 {
    background-color: rgb(39, 123, 250);
    color: white;
    padding: 5px;
    width: 85px;
    border-radius: 5px;
    border: #1F2937;
    font-weight: 900;
    margin-top: 10px;
}


.box3 {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: center;
}

.random {
    font-size: 25px;
    font-weight: 900;
}

.image {
    padding: 50px;
    margin: 10px;
    border-style: dashed;
    border-radius: 8px;
    border-color: rgb(0, 81, 255);
    height: 25px;
    width: 25px;
    text-align: center;
}

.images {
    display: flex;
    padding: 30px;
}

.box4 {
    background-color: rgb(185, 184, 184);
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 10px 0;
    align-items: center;
}

.quote {
    font-style: italic;
}

.author {
    margin-left: 150px;
    margin-top: 30px;
}

.box5 {
    background-color: white;
    padding: 80px;
}

.button-box {
    padding: 20px;
    background-color: rgb(39, 123, 250);
    width: 600px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 160px;
}

.text2 {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action {
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.sign {
    font-size: 10px;
    color: white;
}

.sign2 {
    background-color: rgb(39, 123, 250);
    border-color: white;
    border-radius: 5px;
    color: white;
    margin-right: 0;
    height: 25px;
    width: 90px;
    font-weight: 900;
    font-size: 12px;
}

.box6 {
    display: flex;
    flex: auto;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.footer {
    color: white;
    padding: 25px;
}




ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 15px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}